


.main_photo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.mn-img{width: 80%; /* Full width on mobile */
    height: auto; /* Maintain aspect ratio */
    
    display: flex;
    justify-content: center;
    margin: 0 auto;

}






/* Main Image */
.main_photo   {
    background-color:  rgb(164, 255, 110);
    width: 100%; /* Full width on mobile */
    height: auto; /* Maintain aspect ratio */
    display: block;
}

.mn-img img{
    width: 100%; 
    height: auto;
    min-height: 300px;
min-width: 300px;
}
