


.main_photo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.mn-img{width: 80%; /* Full width on mobile */
    height: auto; /* Maintain aspect ratio */
    
    display: flex;
    justify-content: center;
    margin: 0 auto;

}






/* Main Image */
.main_photo   {
    background-color:  rgb(164, 255, 110);
    width: 100%; /* Full width on mobile */
    height: auto; /* Maintain aspect ratio */
    display: block;
        border-radius: 89px;
 
 

}
@media (min-width:768px) {
.main_photo{
       box-shadow: 14px 4px 15px 10px #7cf67c;

}    
}
.mn-img img{
    width: 100%; 
    height: auto;
    min-height: auto;
min-width: 300px;
}
