/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px;
    color: white;
}

.logo img {
    width: clamp(80px, 15vw, 13vw);
    height: auto;
}

.company_name h1 {
    text-align: center;
    font-size: 1.7em;
    margin: 0;
}

.drop_menu {
    background-color: #6de21a;
    position: relative;
        position: fixed;
    left: 72%;
    top: 44%;
}


.menu-toggle {

    font-size: 7vw;
    font-weight: 910;
    text-shadow: 2px -2px 25px yellow;

    color: #0b0b0b;
    background: #1d400a;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 5px;
}


/* Mobile Navigation */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        display: none;
    }

    .menu-toggle {
        position: fixed;
        align-self: center;
        box-sizing: border-box;
        top: 82vh;
        right: 1%;
        height: 19%;
        text-align: end;
        clip-path: circle(1.2rem at 50% 34%);
        transform: scale(1);

        font-size: 7vw;
        font-weight: 910;
        text-shadow: 2px -2px 25px yellow;
        color: rgb(80 78 82);
        background: #61e01c;
        /* padding: 10px; */
        border: none;
        cursor: pointer;
    }
}

.drop_menu:hover .nav-links {
    display: flex;
    position: relative;
    top: 1px;
}



/* Hide Menu Button on Desktop */
@media (min-width: 1025px) {
    .menu-toggle {
        display: none;
    }
}